<body>
	<div class="container" mockupdd-get-data="rooms" data="output"  >
		<div class="panel panel-info">
			<div class="panel-heading ">
				<h3>Altas</h3>
			</div>
			<div>
					<a mockupdd-navigate="panel" class="btn btn-default pull-right top10">Volver</a>
			</div>
			<div class="panel-body">
				<uib-tabset>
					<uib-tab heading="Resort">
						<form name="resortForm">
							<div class="form-group">
								<label for="name">Name :</label>
								<input type="text" name="name" class="form-control" ng-model="resort.name" required>
     						<span ng-show="!resortForm.$pristine && resortForm.name.$error.required">Name is required.</span>
							</div>
							<div class="form-group">
								<label for="add">Address :</label>
								<input type="text" name="addr" class="form-control" ng-model="resort.addr" >
    					  <span ng-show="!resortForm.$pristine && resortForm.add.$error.required">Address is required.</span>
							</div>
              <div class="form-group">
								<label for="img">Image :</label> use img/resortX.jpg, X must be from 1 to 4.
								<input type="text" name="img" class="form-control" ng-model="resort.img" >
     						<span ng-show="!resortForm.$pristine && resortForm.img.$error.required">Image is required.</span>
							</div>
              <div class="form-group">
                <label for="map">Map :</label> use img/mapaX.png, X must be from 1 to 4.
                <input type="text" name="map" class="form-control" ng-model="resort.map" >
     						<span ng-show="!resortForm.$pristine && resortForm.map.$error.required">Map is required.</span>
              </div>
							<div class="form-group">
								<label for="tel">Telephone :</label>
								<input type="tel" name="tel" class="form-control" ng-model="resort.tel" >
     						<span ng-show="!resortForm.$pristine && resortForm.tel.$error.required">Telephone is required.</span>
							</div>
              <div class="form-group">
                <label for="rate">Rate :</label>
                <input type="number" name="rate" min="1" max="5" class="form-control" ng-model="resort.rate" required>
     						<span ng-show="!resortForm.$pristine && resortForm.rate.$error.required">Rate is required.</span>
              </div>
							<div class="form-group">
								<label for="desc">Description :</label>
								<textarea class="form-control" name="desc" ng-model="resort.desc" rows="3"></textarea>
							</div>
							<div class="form-group">
								<label for="">Services :  </label>
								<input type="checkbox" name="spool" ng-model="resort.spool">
              	<b> Swimming Pool </b> /
								<input type="checkbox" name="ironsvc" ng-model="resort.ironsvc">
								<b> Iron Service  </b> /
								<input type="checkbox" name="ldrysvc" ng-model="resort.ldrysvc">
								<b>	Laundry Service </b>
							</div>
							<div>
								<button type="submit" mockupdd-save="resort to resorts" ng-disabled="!resortForm.$valid" class="btn btn-default top15" mockupdd-msg="Resort Guardado Exitosamente">Add Resort</button>
							</div>
						</form>
					</uib-tab>
					<uib-tab heading="Rooms">
						<form name="roomsForm">
							<div class="form-group page-header ">
								<h3><b> Offer ? </b>
									<input type="checkbox" name="offer" ng-model="room.offer"></h3>
							</div>
							<div class="form-group">
								<label for="name">Name :</label>
								<input type="text" class="form-control" name="name" ng-model="room.name" required>
     						<span ng-show="!roomsForm.$pristine && roomsForm.name.$error.required">Name is required.</span>
							</div>
              <div class="form-group">
                <label for="img">Img :</label> use img/roomX.jpg, X must be from 1 to 4.
                <input type="text" class="form-control" name="img" ng-model="room.img" required>
     						<span ng-show="!roomsForm.$pristine && roomsForm.img.$error.required">Image is required.</span>
              </div>
							<div class="form-group">
								<label>Description :</label>
								<textarea class="form-control" ng-model="room.desc" rows="3"></textarea>
							</div>
							<div class="form-group">
								<label>Services :</label>
								<input type="checkbox" name="air" ng-model="room.air">
								<b>	A/C	</b> /
								<input type="checkbox" name="wifi" ng-model="room.wifi">
								<b> WIFI </b> /
								<input type="checkbox" name="microw" ng-model="room.microwave">
								<b>	MicroWave </b>
							</div>
							<div class="form-group">
								<label>Price : $</label>
								<input type="number" class="form-control" name="price" ng-model="room.price" required>
     						<span ng-show="!roomsForm.$pristine && roomsForm.price.$error.required">Price is required.</span>
							</div>
							<div class="form-group" mockupdd-get-data="resorts" data="rout">
								<label>Resort al que pertenece:</label>
								<select class="form-control" ng-model="room.resortId" id="sel1">
	               <option ng-repeat="resort in rout" value="{{resort.id}}">{{resort.name}}</option>
	              </select>
							</div>
							<div>
								<button type="submit" mockupdd-save="room to rooms" ng-disabled="!roomsForm.$valid" class="btn btn-default top15" mockupdd-msg="Room Guardada Exitosamente">Add Room</button>
							</div>
						</form>
					</uib-tab>
					<uib-tab heading="Room List">
						<form>
							<div class="form-group page-header ">
								<h3><b> Rooms List </b>
							</div>
							<div class="table-responsive">
							  <table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Price $</th>
										<th>En Resort..</th>
									</tr>
								<thead>
								<tbody>
								<tr ng-repeat="room in output">
									<th scope="row">{{room.id}}</th>
									<td>{{room.name}}</td>
									<td>{{room.price}}</td>
									<td>{{room.resortId}}</td>
									<td><button mockupdd-delete="room in rooms" type="button" class="btn btn-danger">
										Delete
                  </button></td>
								</tr>
								</tbody>
						</table>
					</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</body>
