<body>
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3><u>Carrito de compras</u></h3>
			</div>
			<div class="panel-body">
				<h3>Items</h3>
				<div class="article ">
					<div class="col-md-8 well">
						<ul class="media-list">
							<li class="media">
								<div class="row">
									<div class="col-md-4">
										<img src="{{pedido[1].img}}" class=" img-rounded img-responsive">
									</div>
									<div class="col-md-5">
										{{pedido[1].name}}
										{{pedido[1].desc}}
									</div>
									<div class="col-md-2 col-md-offset-1">
										<h4><a mockupdd-navigate="resorts" >Editar</a></h4>
									</div>
								</div>
							</li>
							<li class="media">
								<div class="row">
									<div class="col-md-4">
										<img src="{{pedido[2].img}}" class="img-rounded img-responsive">
									</div>
									<div class="col-md-5">
										{{pedido[2].name}}
										{{pedido[2].desc}}
									</div>
									<div class="col-md-2 col-md-offset-1">
										<a ng-click="editarRoom()"><h4>Editar</h4></a>
									</div>
								</div>
								<div class="row top30">
								<div class="col-md-5 col-md-offset-5">
									Incluir Desayuno?
									<label class="switch">
										<input class="switch-input" type="checkbox" ng-model="checkboxBreakfast" ng-change="calculatePrice()"/>
										<span class="switch-label" data-on="SI" data-off="NO"></span>
										<span class="switch-handle"></span>
									</label>
								</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="aside">
					<div class="col-md-4">
						<div class="well">
							<h4 class="text-center">Precio a pagar : </h4>
							<button class="btn btn-block" ng-click="checkout()"><h3>$ {{precioTotal}}</h3></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
