<body>
  <div class="container" mockupdd-get-data-with-id="task in tasks withId pathParam (2)" data="task" dictionary="__mockupLastSaved">
    <div class="jumbotron">
     <div class="row clearfix">
      <div class="col-md-10" mockupdd-get-data-associated="tags associatedWith task"  dictionary="__mockupLastSaved" data="tags">
        <h2>
          Edit Tasks Details
        </h2>
        <form action="" class="form-horizontal" name="tasksEditForm">
          <div class="form-group">
            <div class="hide">
              <input type="text" class="form-control" ng-model="task.id" required>
            </div>
            <label for="descripcion" class="control-label col-md-2">
            Descripcion:
            </label>
            <div class="col-md-10">
              <input type="text" class="form-control" ng-model="task.name">
            </div>
          </div>
          <div class="form-group">
            <label for="descripcion" class="control-label col-md-2">
            Tags:
            </label>
            <div class="col-md-10 ">
              <div class="btn-group" ng-repeat="tag in tags">
                <button type="button" class="btn btn-labeled btn-default" mockupdd-delete="tag in tags">
                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> {{tag.name}} </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <div class="input-group">
                <input type="text" placeholder="Nombre" class="form-control" ng-model="tag.name" required>
                <span class="input-group-btn">      
                <button mockupdd-save="tag to tags"  mockupdd-associated="tag to task.tags" ng-disabled="!tasksEditForm.$valid" class="btn btn-default" >Add Tag</button>
        </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-9">
              <a mockupdd-navigate="task" class="btn btn-default">Cancel</a>
              <a type="submit" mockupdd-update-object="task is tasks" data="task" class="btn btn-default" mockupdd-msg="Task Update Successfully" mockupdd-navigate="task">Update</a>
            </div>
          </div>
        </form>
      </div>
     </div>
    </div>
  </div>
</body>
