<nav class="navbar navbar-inverse app-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ventas</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Panel</a></li>
      <li><a href="#">Resorts</a></li>
      <li><a href="#">Rooms</a></li>
      <li><a mockupdd-navigate="cart" >Cart</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <button type="button" class="btn btn-link glyphicon glyphicon-shopping-cart" data-toggle="modal" data-target="#myModal"> Open Cart</button>
      </li>
    </ul>
  </div>
</nav>

<div id="myModal" class="modal fade" role="dialog" >
<div ng-controller= "cartController" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cart</h4>
      </div>
      <div class="modal-body">
        <ul class="media-list">
          <li class="media">
            <div class="row">
              <div class="col-md-4">
                <img src="{{pedido[1].img}}" class=" img-rounded img-responsive">
              </div>
              <div class="col-md-5">
                {{pedido[1].name}}
                {{pedido[1].desc}}
              </div>
            </div>
          </li>
          <li class="media">
            <div class="row">
              <div class="col-md-4">
                <img src="{{pedido[2].img}}" class="img-rounded img-responsive">
              </div>
              <div class="col-md-5">
                {{pedido[2].name}}
                {{pedido[2].desc}}
              </div>
            </div>
            <div class="row top30">
            <div class="col-md-5 col-md-offset-5">
              Incluir Desayuno?
              <label class="switch">
                <input class="switch-input" type="checkbox" ng-model="checkboxBreakfast" ng-change="calculatePrice()"/>
                <span class="switch-label" data-on="SI" data-off="NO"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>
</div>
</div>
