<body>
  <div class="container">
    <form ng-submit="submit()" , ng-controller="SubmitForm">
      <div class="jumbotron">
        <div class="row">
          <div class="title">
            <div class="col-md-6">
              <h3>
                <strong>Panel de Seleccíon</strong>
              </h3>
            </div>
          </div>
          <div class="col-md-6">
            <a mockupdd-navigate="altaresort" class="btn btn-lg btn-link">Alta Resorts/Rooms</a>
          </div>
        </div>  
        <HR width=100% align="center">
        <div class="row" , ng-controller="panelCtrl">
          <div class="col-md-6">
            <h4>
              <strong>Fecha CheckIn</strong>
            </h4>
            <p class="input-group">
              <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
          <div class="col-md-6">
            <h4>
              <strong>Fecha CheckOut</strong>
            </h4>
            <p class="input-group">
              <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>
              <strong>Hotel</strong>
            </h4>
            <div mockupdd-get-data="resorts" data="r" class="form-group"  >
              <select data-ng-model="firstSelect" data-ng-options="option.id as option.name for option in r" class="form-control" id="sel1"></select>
            </div>
          </div>
          <div class="col-md-6">
            <h4>
              <strong>Habitación</strong>
            </h4>
            <div  mockupdd-get-data="rooms" data="rooms" class="form-group" >
              <select data-ng-model="secondSelect" data-ng-options="option.id as option.name for option in rooms | secondDropdown: firstSelect" class="form-control" id="sel2"></select>
            </div>
          </div>
        </div>
        <div class="row top30">
          <div class="col-md-6 text-right">
            <h4>
              <strong>Incluir desayuno?</strong>
            </h4>
          </div>
          <div class="col-md-6">
            <label class="switch">
              <input class="switch-input" type="checkbox" ng-model="checkboxBreakfast"/>
              <span class="switch-label" data-on="SI" data-off="NO"></span>
              <span class="switch-handle"></span>
            </label>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-10">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
</body>
