<body>
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>
          <u>Resorts</u>
        </h3>
        <div class="row">
          <div class="col-md-4">
            <h5>Fecha CheckIn</h5>
            <p class="input-group">
              <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
          <div class="col-md-4">
            <h5>Fecha CheckOut</h5>
            <p class="input-group">
              <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <h5>Resorts</h5>
              <select class="form-control" data-ng-model="search.rate">
                 <option value="">Todos</option>
                 <option value="1">1 estrellas</option>
                 <option value="2">2 estrellas</option>
                 <option value="3">3 estrellas</option>
                 <option value="4">4 estrellas</option>
                 <option value="5">5 estrellas</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <ul mockupdd-get-data="resorts" data="output" class="list-group" style="list-style-type:none">
           <li class="list-group-item" data-ng-repeat="resort in output | filter:search" >
            <div class="rname">
              <h4>{{resort.name}}</h4>
            </div>
            <div class="well">
              <div class="row">
                <div class="col-md-4 vcenter">
                  <div class="embed-responsive embed-responsive-16by9">
                    <a href="{{resort.img}}" data-lightbox="galeria"><img src="{{resort.img}}" class="thumbnail img-responsive"></a>
                  </div>
                </div>
                <div class="col-md-7 vcenter">
                  <p>description:{{resort.desc}}</p>
                  <ng-rate-it ng-model="resort.rate" read-only="true"></ng-rate-it>
                </div>
                <div class="col-md-1 vcenter">
                  <a mockupdd-navigate="resortdetail/{{resort.id}}" >ir</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <p data-ng-show="(r | filter:search).length==0">No hay resultados para esta búsqueda</p>
      </div>
    </div>
  </div>
</body>
