<body>
  <div class="container">
    <div class="panel panel-info" mockupdd-get-data-with-id="resorts withId pathParam (2)" data="resort">
      <div class="panel-heading default">
        <h2>
          <i><u>{{resort[0].name}}</u></i>
        </h2>
        <div class="row">
          <img class="img-header" src="{{resort[0].img}}">
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-8">
          <h3>Descripción</h3>
          <div class="well">
            <h4>{{resort[0].desc}}</h4>
          </div>
            <h3>Datos</h3>
          <div class="well">
            <h4> Dirección : {{resort[0].addr}}</h4>
            <h4> Teléfono : {{resort[0].tel}}</h4>
          </div>
          <h3>Servicios</h3>
          <ul style="list-style-type:none" class="well">
            <h4>
              <li ng-if="resort[0].spool" class="top10">
                <img src="img/spool.png" class="icon-custom"> Pileta
              </li>
              <li ng-if="resort[0].ldrysvc" class="top10">
                <img src="img/laundry.png" class="icon-custom"> Lavandería
              </li>
              <li ng-if="resort[0].ironsvc" class="top10">
                <img src="img/iron.png" class="icon-custom"> Planchado
              </li>
            </h4>
          </ul>
        </div>
        <div class="col-md-4 top25">
          <div class="well">
            <h5 class="text-center">Le gustó el Hotel?
            </h5>
            <button ng-click="guardarPedido()" class="btn btn-block">Click para elegir!!</button>
          </div>
          <div class="top30">
            <h3>Ubicación</h3>
            <img src="{{resort[0].map}}" class="img-thumbnail">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
