<body>
  <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3><u>Rooms</u></h3>
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Mas opciones de filtrado
                <span class="glyphicon glyphicon-menu-down"></span>
              </button>
            </div>
            <div class="col-md-6">
              <div class="checkbox text-right">
                <label>
                  <input type="checkbox" ng-model="ofertas">
                  <u>Mostrar solo ofertas</u>
                </label>
              </div>
            </div>
            <div class="col-md-12">
              <div uib-collapse="isCollapsed">
                <div class="well">
                  <div>
                    <h4>Servicios</h4>
                  </div>
                  <label class="checkbox-inline"><input type="checkbox" ng-model="ac" value="">A/C</label>
                  <label class="checkbox-inline"><input type="checkbox" ng-model="wifi" value="">WIFI</label>
                  <label class="checkbox-inline"><input type="checkbox" ng-model="mw" value="">MicroWave</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body" mockupdd-get-data-associated="rooms associatedWith resorts withId pathParam (2)" data="rooms">
          <ul class="list-group" style="list-style-type:none">
            <li ng-repeat="room in rooms" ng-show="!(ofertas == true && ofertas != room.offer)&&!(ac == true && room.air != ac)&&!(wifi == true && room.wifi != wifi)&&!(mw == true && room.microwave != mw)">
              <div class="roomname">
                <h4>{{room.name}}</h4>
              </div>
              <div class="well">
                <div class="col-md-3 vcenter">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img src="{{room.img}}" class="thumbnail img-responsive">
                  </div>
                </div>
                <div class="col-md-7 vcenter">
                  <p class="">{{room.desc}}</p>
                </div>
                <div class="col-md-2 vcenter">
                  <a ng-click="guardarRoom(room.id)">
                    <button class="btn btncustom">$
                      {{room.price}}
                      <span class="glyphicon glyphicon-menu-right"></span>
                    </button>
                  </a>
                </div>
              </div>
            </li>
          </ul>
          <p ng-show="rooms.length==0">No hay habitaciones para este hotel</p>
        </div>
      </div>
    </div>
</body>
