<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row clearfix">
                <div class="col-md-12">
                    <h2>Tasks</h2>
                    <div>
                        <ul mockupdd-get-data="tasks" data="output" class="list-group">
                            <li class="list-group-item" ng-repeat="task in output">
                                <label>
                                  <input type="checkbox"><span> {{task.name}} </span>
                                                </label>
                                <button mockupdd-delete-associated="tags associatedWith task" prop="{{task.id}}" class="btn-link" mockupdd-delete="task in tasks" >Delete</button>
                                <button mockupdd-navigate="editTask/{{task.id}}" class="btn-link" >Edit</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <form name="tasksForm">
                        <div class="form-group">
                            <label for="name">Name : <input type="text" name="name" class="form-control" ng-model="task.name" required></label>
                            <button type="submit" mockupdd-save="task to tasks" ng-disabled="!tasksForm.$valid" class="btn btn-default" mockupdd-msg="Task Saved Successfully">Add Task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
